[Unit]
Description=app.js - it is a app
Documentation=https://example.com
After=network.target

[Service]
Type=simple
ExecStart=NODE /app.js
Restart=on-failure

[Install]
WantedBy=multi-user.target

